@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "trix/dist/trix.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "select2/dist/css/select2.min.css";

.select2-container .select2-selection--single{
    height: 36px !important;
}

.select2-selection__rendered {
    @apply mt-1
}

.select2-selection__arrow{
    @apply mt-1
}

.trix-button-group--file-tools { display: none !important; }

[x-cloak] { display: none; }